
version: "3"
services:
  bot:
    build: .
    command: python bot.py
    restart: always
    env_file: .env
  dashboard:
    build: .
    command: python dashboard/app.py
    ports:
      - "5000:5000"
    restart: always
    env_file: .env
